/*
 *              -------------------------------------------------
 *                      VCF TO GTs! - NF config file
 *              -------------------------------------------------
 *                               Blom, 2022  (c)
 * 
 *  Pipeline to infer the distribution of gene tree topologies.
 *
 *  Similar rationale to the Dstatistic, ABBA-BABA, under a neutral scenario the frequency of ABBA and BABA
 *  gene trees should be roughly equal. Therefore evaluating the distribution of BBAA, ABBA and BABA trees is
 *  of interest.
 *
 *  The workflow can take a VCF, Mask and reference file to call consensus sequences (call_consensus == true)
 *  or start with pre-called consensus sequences. If the latter, please be aware that it assumes that indel
 *  variation has been removed.
 *
 *  If consensus sequences ought to be called. The pipeline expects the following input format:
 *
 *  vcf file = /inputdir/(individual)/(chromo)_vars_filt_indels.vcf.gz
 *  mask file = /inputdir/(individual)/(chromo)_mask_cov_het.vcf
 */


// Input and output parameters
params {

    // -- INPUT INFO --
    indivs_P1_file = "/path/to/meta/p1.txt"
    indivs_P2_file = "/path/to/meta/p2.txt"
    indivs_P3_file = "/path/to/meta/p3.txt"
    indivs_outgroup_file = "/path/to/meta/outgroup.txt"
    chromos_file = "/path/to/meta/chromos_excl_W_unk.txt"
    chromo_coords = "/"/path/to/meta/chromo_coords.tsv"
    ref_file = ""/path/to/meta/reference/ref.fa"
    inputdir = ""/path/to/inputdir/"
    outputdir = "/path/to/outputdir/"
    seqkit_fn = "/path/to/bin/seqkit"

    // -- Should some chromosomes be treated differently since they are sex chromosomes? --
    // -- NOTE: Character string follows exact format! Each scaffold/chromo name seperated by space--
    sex_chromos = "chrZ chrW"


    // -- ANALYSES TO DO --

    call_consensus = true                       // [boolean; true or false] Call consensus sequences for each individual and scaffold/chromosome? NOTE: supplying customs consensus sequences currently not possible 
    window_msa_to_phy_in_parallel = false       // [boolean; true or false] Infer all window phylos in parallel (i.e. a single SLURM job) or infer window phylos by subset and chromosome? Some clusters do not want to many simultaneous (short) jobs
     
    // -- SETTINGS -- 

    // CONSENSUS CALLING
    // - IF consensus_calling == false, specify a tsv file with the path to each consensus sequences (see README) of format: indiv, chromo, path_to_consensus.fa. NOTE: supplying customs consensus sequences currently not possible 
    consensus_tsv_fn = "/path/to/consensus_list.fa"

    // ALIGNMENT FILTERING
    // - IF filter_by_subset == true, specify length of subset. MB value is trade-off between number of jobs spawned and the duration of each job 
    filt_subset_size = 1                        // [integer; val * Megabases]
    // - Relative data cut-off for a msa column to be considered as filtered -- used for both concatenation and window filtering
    missing_data_per_col_threshold = 0.5        // [float; min 0 - max 1], 0 == No missing data per row permitted. 1 == Also a row with only missing data permitted
    // - Relative cut-off for filtered window length relative to original window size -- used for window filtering
    missing_cols_per_window_threshold = 0.5     // [float; min 0 - max 1], 0 == Windows with a single alignment column allowed as well  1 == Filtered window needs to be as long as the original window
    // - Relative data cut-off for an individual consensus sequence to be considered as having too much missing data -- used for window filtering only
    missing_data_per_row_threshold = 0.4        // [float; min 0 - max 1], 0 == No missing data per row permitted. 1 == Also a row with only missing data permitted
    // - Relative cut-off for number of individuals that exceed the above 'missing_data_per_row_threshold' -- used for window filtering only
    missing_indivs_per_window_threshold = 1   // [float; min 0 - max 1], 0 == Windows with a single individual permitted as well,  1 == All individuals need to be present in the alignment

    // SUBSET SIZES
    // - Min number of basepairs between consecutive windows
    window_jump = 100000                                       // [integer]
    // - Range of window lengths for which windows need to be generated
    window_sizes = [10000]     // [list with integers]

    // PHYLOGENY
    // - Model selection (MFP) or use a single substitution model (eg. GTR+I+G)? (see IQtree2 for options)
    phy_model_concat = "GTR+I+G"

    // PLOTTING
    // - The topological distribution of gene trees will be plotted across chromosomes of bin length X. In example, if bin_size = 10000000, then all gene trees within that frame will be calculated and summed in a single bin.
    bin_size = 1000000

}


// Cluster specific profiles that faciliate job scheduling and cluster requirements
profiles {

    standard {
       /*
        * In development
        */
        process.executor = 'local'
    }

    mfn {
       /*
        * A profile that is functional and has been succesfully used on the MfN cluster
        */
        includeConfig 'config/mfn.config' }

    curta {
       /*
        * A profile that is functional and has been succesfully used on the Curta cluster
        */
        includeConfig 'config/curta.config'
    }

}
